{% extends 'index.html' %} {% load crispy_forms_tags %} {% block body %}

<div class="container py-2">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Contact page</h3>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %} {{ form |crispy}} {% comment %} {% for field in form %} {{
            field.errors }} {{ field|as_crispy_field }} {{ field.help_text }} {%
            endfor %} {% endcomment %} {% comment %} {{ form.name.errors }} {{
            form.name|as_crispy_field}} {{ form.phone.errors }} {{
            form.phone|as_crispy_field}} {{ form.content.errors }} {{
            form.content|as_crispy_field}} {% endcomment %}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
