{% extends "index.html" %} {% block body %}
<div class="container py-2">
  <div class="card">
    <div class="card-header">
      <h2>Home page</h2>
    </div>
    <div class="card-body">{% lorem 2 %}</div>
    {% comment %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sl</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        {% for n in name %}
        <tr>
          <td scope="row">1</td>
          <td>{{n}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endcomment %}
  </div>
</div>
{% endblock body %}
